label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

h1 {
    text-align: center;
    color: maroon;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: coral;
}

p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
}

body {
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: darkgray;
}

div#row {
    position: fixed;
    width: 100%;
    height: 20%;
}

.column {
    align-items: center;
    position: relative;
    top: 15%;
    width: 50%;
    height: 30%;
    margin-top: 20%;
}

.actions {
    align-items: center;
    background-color: aquamarine;
    margin-block-start: 30%;
}

.footer {
    background-color: deeppink;
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 2cm;
    color: aliceblue;
}