label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

h1 {
    text-align: center;
    color: azure;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: coral;
    font-size: 30px;
}

p {
    text-indent: 100px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}

* {
    margin: 0px;
}

section {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100vw;
    height: 200px;
    text-align: center;
    background-color: mediumvioletred;
}

.column1 {
    float: left;
    width: 50vw;
    height: 250px;
    align-items: center;
    background-color: cornsilk;
}

.column2 {
    float: right;
    width: 50vw;
    height: 250px;
    align-items: center;
    background-color: darkgrey;
}

.actions {
    width: 100vw;
    height: 100px;
    background-color: aquamarine;
}

.footer {
    align-self: flex-end;
    align-items: center;
    width: 100vw;
    height: 80px;
    text-align: center;
    background-color: darkgoldenrod;
}

select#color1,
select#color2 {
    align-self: auto;
    color: black;
    box-sizing: content-box;
    margin: auto;
    box-align: center;
    font-size: 30px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: azure;
    cursor: pointer;
    display: inline-block;
    content: icon;
}

input[type=button] {
    size: 50px;
    width: 200px;
    height: 70px;
    color: aliceblue;
    background-color: brown;
    align-self: center;
}